.box {
  background-color: black;
  width: 215px;
}
button {
  box-sizing: border-box;
  height: 50px;
  width: 50px;
  /* margin: auto; */
  border: 1px solid wheat;
  background-color: grey;
  font-size: 20px;
  border-radius: 5px;
}
#result {
  border: 2px solid black;
  height: 50px;
  width: 215px;
  background-color: grey;
}
.display1 {
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid wheat;
  
}
.display{
  margin: auto;
}

